.blacklist-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .blacklist-title {
    font-size: 5.5rem;
    padding-bottom: 8rem;
    font-weight: bold;
    font-family: "Antonio";
    letter-spacing: 0.2rem;
    color: #fff9e5;
    text-shadow: 1px 1px 3px #2e2e2e;
  }
.blacklist-items {
    display: flex;
    width: 40rem;
    margin: 1rem;
    padding: 1rem;  
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: solid 1px rgb(235, 235, 235);
    .blacklistData {
            display: flex;
            width: 30rem;
          .uid {
            width: 15rem;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 0.3rem;
            margin-right: 0.5rem;
          }
          .libraryName {
            width: 25rem;
            font-size: 1.5rem;
            padding: 0.3rem;
            margin-right: 0.5rem;
          }
        }
        .btn {
            display: flex;
            .button {
                display: flex;
                border: 0.2rem solid aliceblue;
                border-radius: 20px;
                font-size: 1rem;
                font-weight: bold;
                padding: 1rem 1rem;
                margin-bottom: 1rem;
                width: auto;
                border-radius: 4px;
                background-color: #3636365d;
                color: azure;
                outline: none;
                cursor: pointer;
                transition: 0.8s;
                &:hover {
                background-color: #208cff;
                  }
            }
        }
    }
};