#libraries-list {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: aliceblue;
  left: 0;
  right: 0;
  top: 0;
  padding-bottom: 5rem;
  bottom: 0;
  height: 100%;
  text-align: center;
  align-items: center;
  .page-title {
    position: relative;
    font-size: 3rem;
    margin-bottom: 5rem;
    font-family: "Nanum Gothic Coding";
  }
  .btn {
    width: 60rem;
    display: flex;
    justify-content: flex-end;
    .create-btn {
      border: none;
      font-size: 1.125rem;
      font-weight: bold;
      padding: 1rem 1rem;
      margin-bottom: 1rem;
      width: auto;
      border-radius: 4px;
      background-color: #435769;
      color: azure;
      outline: none;
      cursor: pointer;
      transition: 0.8s;
      &:hover {
        background-color: #2b3c4e;
      }
    }
  }
  .list-box {
    position: relative;
    width: 60rem;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #b6b6b6;
    box-shadow: 1px 1px 3px #1a375e;
    font-family: "Lexend Deca", sans-serif;
  }
}
