#board-info {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: aliceblue;
  justify-content: center;

  .text-form {
    position: relative;
    width: 60rem;
    .title-form {
      font-size: 2rem;
      text-align: center;
    }
    .contents-form {
      margin-top: 3rem;
    }
  }
  .edit-btn {
    display: flex;
    position: relative;
    justify-content: center;
    margin: auto;
    .edit {
      border: none;
      font-size: 1.125rem;
      font-weight: bold;
      padding: 1rem 1rem;
      margin-top: 0.7rem;
      width: auto;
      border-radius: 4px;
      background-color: #435769;
      color: azure;
      outline: none;
      cursor: pointer;
      transition: 0.8s;
      &:hover {
        background-color: #2b3c4e;
      }
    }
  }
}
