#BookEditForm {
  position: relative;
  display: flex;
  background-color: aliceblue;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 5rem;
  text-align: center;
  justify-content: center;
  .input-form {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80rem;
    .input-box {
      display: flex;
      position: relative;
      justify-content: center;
      .image-area {
        display: flex;
        position: relative;
        justify-content: center;
        width: 50rem;
        .image-box {
          position: relative;
          justify-content: center;
          height: 15rem;

          .thumbNailImage {
            display: flex;
            flex-direction: column;
          }
          .coverImage {
            display: flex;
            text-align: center;
          }
          .preview {
            display: flex;
            justify-content: center;

            .image {
              height: 140px;
              width: 100px;
              border: 1px solid black;
            }
            .image-remove {
            }
          }
          .thumbnail-label {
            position: relative;
          }
          .cover-label {
            position: relative;
          }
        }
      }
    }
    .text {
      display: flex;
      position: relative;
      text-align: center;
      justify-content: center;
      .text-form {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        width: 60rem;
        justify-content: center;
        input,
        select,
        textarea {
          position: relative;
          font-size: 1.3rem;
          width: 10rem;
          margin-left: 3rem;
          resize: none;
        }
        label {
          position: relative;
          width: 30rem;
          font-size: 1.2rem;
          margin-top: 3rem;
        }
        .libraryName {
          width: 20rem;
        }
        .title {
          width: 20rem;
        }
        .author {
          width: 20rem;
          margin-left: 7rem;
        }
        .translator {
          width: 20rem;
          margin-left: 3.4rem;
        }
        .publisher {
          width: 20rem;
          margin-left: 5.8rem;
        }
        .barcode {
          width: 20rem;
          margin-left: 3.4rem;
        }
        .rid {
          width: 20rem;
          margin-left: 7.8rem;
        }
        .rfid {
          width: 20rem;
          margin-left: 5.1rem;
        }
        .isbn {
          width: 20rem;
          margin-left: 6.8rem;
        }
        .publishDate {
          width: 20rem;
          margin-left: 3.5rem;
        }
        .type {
          width: 20rem;
          margin-left: 7rem;
        }
        .genre {
          width: 20rem;
          margin-left: 4.8rem;
        }
        .bookStatus {
          width: 20rem;
          margin-left: 4.1rem;
        }
        .category {
          width: 20rem;
          margin-left: 2.5rem;
        }
        .contents {
          position: relative;
          font-size: 1.2rem;
          width: 40rem;
          height: 10rem;
          margin-left: 0;
          margin-top: 1rem;
          font-family: "Nanum Gothic Coding";
        }
      }
    }

    .btn-box {
      margin-top: 5rem;
      .edit-btn {
        border: none;
        font-size: 1.125rem;
        font-weight: bold;
        padding: 1rem 1rem;
        margin-right: 1rem;
        width: auto;
        border-radius: 4px;
        background-color: #435769;
        color: azure;
        outline: none;
        cursor: pointer;
        transition: 0.8s;
        &:hover {
          background-color: #2b3c4e;
        }
      }
    }
  }
}
.delete-btn {
  border: none;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 1rem 1rem;
  margin-left: 1rem;
  width: auto;
  border-radius: 4px;
  background-color: #435769;
  color: azure;
  outline: none;
  cursor: pointer;
  transition: 0.8s;
  &:hover {
    background-color: #2b3c4e;
  }
}
